<nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/img/quiz.png" id="img-logo">
    </a>
    <div id="divBusca">
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <img src="/img/search4.png" alt="Buscar..." id="btnBusca"/>
    </div>
    <a href="/cadastrar" class="btn btn-primary" id="cadastrar">Cadastrar</a>
    
</nav>